.button {
  width: 100%;
  padding: 1.6rem 0;
  background: #00a3ff;
  border-radius: 20px;
  border: none;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  transition: background 0.15s ease-in-out;

  &:hover {
    background: #2bb1fe;
  }
}
