body {
  background-color: #252f35;
}

.task {
  margin-left: 1rem;
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
}

.completed {
  margin-left: 1rem;
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: line-through;
}

.checkbox {
  width: 30px;
  height: 30px;
}

.error {
  padding: 1.5rem 1.5rem;
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  background: #f96767;
  color: #ffcccc;
  border-radius: 20px;
}
